@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@theme {
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-white: hsl(0 100%, 100%);

  --font-nunito-sans: "Nunito Sans", sans-serif;
}
