@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@theme {
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);
  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50: hsl(0, 0%, 99%);
  --color-white: hsl(0 100%, 100%);

  --font-nunito-sans: "Nunito Sans", sans-serif;
}

@layer components {
  .container {
    @apply min-w-full py-6 px-6 md:px-8 lg:px-24 xl:px-26;
  }

  .bg-dark {
    @apply bg-blue-950 text-white;
  }

  .bg-light {
    @apply bg-white text-grey-950;
  }

  .bg-semi-dark {
    @apply bg-blue-900 text-white;
  }

  .bg-semi-light {
    @apply bg-grey-50 text-grey-950;
  }

  .input-base {
    @apply py-3 px-8 rounded-md;
  }
}
